body {
  background-color: black;
  margin: 0;
  color: white;
}

header {
  text-align: center;
  color:Orange;
  font-family: sans-serif;
  font-size: 150%;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainheader {
  text-align: center;
  color: orange;
}

.sidebarhead {

}

/* Navigation bar */
#logo {
  width: 30px;
}

.topnav {
  overflow: hidden;
  background-color: black;
  padding-left: 280px;
  font-family: sans-serif;
}

.topnav a {
  float: left;
  color: Orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: green;
  color: black;
}

.ads {
  background-color: lightGray;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 450px;
  padding-right: 20px;
}

#addimage {
  width: 500px;
}

/* The body of the page. */
* {
  box-sizing: border-box;
}

.main {
  float:left;
  width:80%;
  padding:0 50px;
}
.right {
  background-color:gray;
  float:left;
  width:20%;
  padding:10px;
  margin-top:10px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .main, .right {
    width:100%;
  }
}

/* THis is the space for the form and of the tarriff.*/
.leftwing {
 float: left;
 width: 50%;
 padding: 10px;
}

.formheaders {
  text-align: center;
}

.rightwing {
  float: left;
  width: 50%;
  padding: 10px;
}
